---
import Point from "./Point.astro";
import {education, description} from "../../data/education.json"

education.sort((a,b) => b['id'] - a['id']);

---
<section class="p-6">
    <h5 class="text-4xl font-bold tracking-tight text-white"> Education </h5>
    <p class="mt-2 text-lg tracking-tight text-gray-400 mb-6" set:html={description}></p>
<ol class="items-center sm:flex">
    {education.map(({city,title,university,year})=> (
        <li class="relative mb-6 sm:mb-0">
            <Point
            title={title}
            university={university}
            city={city}
            year={year}/>
        </li>
    ))}
</ol>
</section>