---
const {company,logo, position, description_array, technologies_array, start_date, end_date, latest, urls } = Astro.props
---

<span class="absolute mt-4 flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-gray-900 bg-gray-900">
    <img src={logo}/>
</span>
<h3 class="flex items-center mb-1 text-2xl font-semibold text-white">
    {company} 
    {latest &&
        <span class="text-sm font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300 ml-3">Latest</span>
    }
</h3>
<h4 class="flex items-center mb-1 text-md font-semibold text-white">{position}</h4>
<time
    class="block mb-2 text-sm font-normal leading-none text-gray-500"
    >{start_date} - {end_date}</time
>
<ul class="mb-4 pe-4 text-base font-normal text-gray-400">
    {description_array.map((e)=>(
        <li class="list-none mb-1"> <span class="font-bold"># </span> {e}</li>
    ))}
</ul>


<p>
    {technologies_array.map((e)=> (
            <span class="inline-block mb-2 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">{e}</span>

    ))}
    </p>


{urls.map(({name, href}) => (
    <a href={href} target="_blank" class="mr-2 inline-flex items-center px-4 py-2 mt-4 text-sm font-medium border rounded-lg focus:z-10 focus:ring-4 focus:outline-none focus:text-blue-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700 focus:ring-gray-700">{name}</a>
))}

